body{
    background: #C0CA33;
}
.container {
    border:1px solid red;
    height: 500px;
    margin: 260px auto 0px auto;
    width: 1000px;
    min-width: 1000px;
    height: 1200px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 4px;
    -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.376470588235294);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.376470588235294);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.376470588235294);
}